@model iep_newer.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Change your account settings</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="form-horizontal" style="width:400px; font-family:'Georgia', serif; font-size:15px; margin:auto" >
        <dl class="dl-horizontal">
            <div class="form-group">
                <dt>Name:</dt>
                <dd>@Model.Name</dd>
            </div>
            <div class="form-group">
                <dt>LastName:</dt>
                <dd>@Model.LastName</dd>
            </div>
            <div class="form-group">
                <dt>Tokens:</dt>
                <dd>@Model.Tokens</dd>
            </div>
            <div class="form-group">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
            {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </div>



                    @*@if(!User.IsInRole("admin"))
                {
                    <dt>See all orders</dt>

                }*@
            <div class="form-group" style="margin-left:100px;">
            @Html.ActionLink("Edit account info", "Edit", "Manage", null, new { @class = "btn btn-warning" })
                </div>
        </div>
                @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>

                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
                *@
                @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
                *@
                @*<dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
            </dd>*@
</dl>
    </div>
