@model IEnumerable<iep_newer.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Order history</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.user.Name)
        </th>*@

        <th>
            @*@Html.DisplayNameFor(model => model.created)*@
            Created at
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tokens)*@
            Tokens
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.price)*@
            Price
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.state)*@
            Transaction state
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onlclick="window.location.href ='/Order/Details/@item.id'">
        @*<td>
            @Html.DisplayFor(modelItem => item.user.Name)
        </td>*@
        @*<div class="orderindexitem" onclick="window.location.href='/Order/Details/@item.id'">*@
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.tokens)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.price)
            </td>
            @if (item.state == iep_newer.Models.Order.OrderState.WAIT)
            {
                <td class="col-md-3">
                    Still waiting for request to finish...
                </td>
            }
            else if (item.state == iep_newer.Models.Order.OrderState.FAIL)
            {
                <td class="col-md-3">
                    Transaction failed
                </td>

            }
            else
            {
                <td>
                    Transaction succeded!
                </td>

            }
        @*</div>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>

@if (ViewBag.msg == "success")
{
    <script type="text/javascript">
        $(function () {
            $("tr").last().addClass("alert").addClass("alert-success");
        })
    </script>

@*<div class="alert alert-success fade in">
    <strong>Success!</strong> Indicates a successful or positive action.
</div>*@
}
@if (ViewBag.msg == "fail")
{
    <script type="text/javascript">
        $(function () {
            $("tr").last().addClass("alert").addClass("alert-danger");
        })
    </script>
@*<div class="alert alert-danger fade in">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>*@
}