@model IEnumerable<iep_newer.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Order history</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table col-md-4">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.user.Name)
        </th>*@

        <th>
            @*@Html.DisplayNameFor(model => model.created)*@
            Created at
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tokens)*@
            Tokens
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.price)*@
            Price
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.state)*@
            Transaction state
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onlclick="window.location.href ='/Order/Details/@item.id'">
        @*<td>
            @Html.DisplayFor(modelItem => item.user.Name)
        </td>*@
        @*<div class="orderindexitem" onclick="window.location.href='/Order/Details/@item.id'">*@
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.tokens)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.price)
            </td>
            @if (item.state == iep_newer.Models.Order.OrderState.WAIT)
            {
                <td class="col-md-3">
                    Still waiting for request to finish...
                </td>
                <td>
                    @Html.ActionLink("_", "Delete", "Order", new { id = item.id, pagenum = ViewBag.pagenum }, new { @class = "btn btn-default remove-order" })
                </td>
            }
            else if (item.state == iep_newer.Models.Order.OrderState.FAIL)
            {
                <td class="col-md-3 trans-fail">
                    Transaction failed
                </td>

            }
            else
            {
                <td class="trans-succ">
                    Transaction succeded!
                </td>

            }

        @*</div>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>

<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            @for (int pagenum = 0; pagenum < ViewBag.pages; pagenum++)
            {
                <li>
                     @Html.ActionLink(Convert.ToString(pagenum + 1), "Index", new { pagenum = pagenum })
                </li>
             }
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->


<hr />

<div class="row">
    <img src="~/Content/komodo_dragon_green_by_wdwparksgal_stock-d5smjnh.png" style="display:block; margin:auto;"/>
</div>

@if (ViewBag.msg == "success")
{
    <script type="text/javascript">
        $(function () {
            if ($($("tr")[1]).find(".trans-succ").length != 0) {
                $($("tr")[1]).addClass("alert").addClass("alert-success");
            }
        })
    </script>

@*<div class="alert alert-success fade in">
    <strong>Success!</strong> Indicates a successful or positive action.
</div>*@
}
@if (ViewBag.msg == "fail")
{
    <script type="text/javascript">
        $(function () {
            if ($($("tr")[1]).find(".trans-fail").length != 0) {
                $($("tr")[1]).addClass("alert").addClass("alert-danger");
            }
        })
    </script>
@*<div class="alert alert-danger fade in">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>*@
}