@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div id="custom-search-input" style="margin-top:20px;">
            <div class="input-group col-md-12" >
                <input id="search_terms" name="search_terms" type="text" class="form-control input-lg" placeholder="Auction search"  />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
        if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
        {
            @*<button type="button" class="btn btn-warning" style="margin-top:10px; margin-bottom:-45px;" >*@
        
            Object args = new { search_self = true, search_terms = ViewBag.search_terms, search_state = ViewBag.search_state, min_price = ViewBag.min_price, max_price = ViewBag.max_price, };
            @Html.ActionLink("See my won auctions", "Index", args, new { @class = "btn btn-warning self-button" });
        
                //See my won auctions</button>

            }
        <button @*data-toggle="collapse" data-target="#demo"*@ onclick="$('#demo').toggle();"  type="button" class="btn btn-primary" style="margin-left:350px; margin-top:10px; width:200px">Advanced search options</button>

        <div id="demo" hidden="hidden" >
            <div class="row" style="margin-top:10px; margin-left:0px">
                <h3 style="display:inline">Price: </h3>
                <input id="min_price" name="min_price" class="form-control" placeholder="Min" type="number" style="display:inline; width:80px" />
                <h3 style="display:inline"> - </h3>
                <input id="max_price" name="max_price" class="form-control" placeholder="Max" type="number" style="display:inline; width:80px" />
            </div>
            <div class="row" style="margin-top:10px; margin-left:0px;">
                <h3 style="display:inline">State: </h3>
                <select class="form-control" id="search_state" name="search_state" style="display:inline; width:140px;">
                    <option value="@iep_newer.Models.Auction.State.ALL"> All </option>
                    <option value="@iep_newer.Models.Auction.State.READY"> Ready </option>
                    <option value="@iep_newer.Models.Auction.State.OPEN"> Open </option>
                    <option value="@iep_newer.Models.Auction.State.SOLD"> Sold </option>
                    <option value="@iep_newer.Models.Auction.State.EXPIRED"> Expired </option>
                </select>
            </div>
        </div>
    }
</div>
    </div>

<hr />

<div class="row"> 
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 portfolio-item" id="auction-@item.id">
                <div class="portfolio-inside" >

                    <div style="height: 60px; margin-top:0px; margin:auto; text-align:center">
                        <h3><b>@item.name</b></h3>
                    </div>
                    <a href="#">
                        <img class="img-rounded img-responsive" style="margin:auto;" width="180px" height="180px" src="data:image;base64,@System.Convert.ToBase64String(item.image)" />
                    </a>
                    

                    @if (item.state == iep_newer.Models.Auction.State.SOLD)
                {
                        <div class="row" style="margin:auto; width:100%">
                            <h2 style="display:block; margin:auto; text-align:center;" class="not-time-text">00:00:00</h2>
                        </div>
                        <button class="btn btn-info interaction-button not-open-text" disabled="disabled">Sold!</button>
                        <div class="row price-row" style="margin:auto; width:100%; margin-top:10px">
                            <h3 style="text-align:left; display:inline; margin-left:10px">Price:</h3>
                            <h3 class="current_price " style="text-align:right; margin-left:50px; display:inline"><b>@item.current_price</b></h3>
                            <img src="~/Content/Thunder-T.png" width="38px" height="31px" style="float:right; display:inline">
                        </div>
                        if (item.Bids.Count > 0)
                        {
                            <div class="row" style="width:100%; margin-top:10px; margin-left:10px">

                                <h4 style="display:inline; margin-left:10px">Last bidder: </h4>
                                <h4 style="display:inline; margin-right:0px"><b class="last_bidder">@item.last_bid_user.Name</b></h4>
                            </div>
                        }
                    }
                    else if (item.state == iep_newer.Models.Auction.State.EXPIRED)
                    {
                        <div class="row" style="margin:auto; width:100%">
                            <h2 style="display:block; margin:auto; text-align:center;" class="not-time-text">00:00:00</h2>
                        </div>
                        <button class="btn btn-info interaction-button not-open-text" disabled="disabled">Expired!</button>
                        <div class="row price-row" style="margin:auto; width:100%; margin-top:10px">
                            <h3 style="text-align:left; display:inline; margin-left:10px">Price:</h3>
                            <h3 class="current_price " style="text-align:right; margin-left:50px; display:inline"><b>@item.current_price</b></h3>
                            <img src="~/Content/Thunder-T.png" width="38px" height="31px" style="float:right; display:inline">
                        </div>
                    }
                    else if (item.state == iep_newer.Models.Auction.State.READY)
                    {
                        <div class="row" style="margin:auto; width:100%">
                            <h2 style="display:block; margin:auto; text-align:center;" class="not-time-text">--:--:--</h2>
                        </div>
                        <button class="btn btn-info interaction-button not-open-text" disabled="disabled">Not yet open!</button>
                        <div class="row price-row" style="margin:auto; width:100%; margin-top:10px">
                            <h3 style="text-align:left; display:inline; margin-left:10px">Price:</h3>
                            <h3 class="current_price " style="text-align:right; margin-left:50px; display:inline"><b>@item.current_price</b></h3>
                            <img src="~/Content/Thunder-T.png" width="38px" height="31px" style="float:right; display:inline">
                        </div>
                    }
                    else if (item.state == iep_newer.Models.Auction.State.OPEN)
                    {
                        <div class="row" style="margin:auto; width:100%">
                            @*<h4 style="display:inline;">Tim: </h4>*@
                            <h2 style="display:block; margin:auto; text-align:center;" class="time-text">@item.closed.Subtract(DateTime.Now).ToString(@"hh\:mm\:ss")</h2>
                        </div>
                        
                    }

                    @*@if (item.Bids.Count > 0)
                {
                        <h4 class="last_bidder">@item.last_bid_user.Name</h4>
                    }
                    else
                    {
                        <h4 class="last_bidder">Be the first one to bid!</h4>
                    }*@

                    @if (item.state == iep_newer.Models.Auction.State.OPEN)
                    {
                        if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
                        {
                            <button class="btn btn-success interaction-button bid-button" onclick="bidAuction(@item.id, this)">Bid!</button>
                                
                        }
                        else
                        {
                            <button class="btn btn-danger interaction-button bid-button" disabled="disabled" onclick="bidAuction(@item.id, this)">Bid!</button>
                        }

                        <div class="row price-row" style="margin:auto; width:100%; margin-top:10px">
                            <h3 style="text-align:left; display:inline; margin-left:10px">Price:</h3>
                            <b><h3 class="current_price" style="text-align:right; margin-left:50px; display:inline">@item.current_price</h3></b>
                            <img src="~/Content/Thunder-T.png" width="38px" height="31px" style="float:right; display:inline">
                        </div>

                        if (item.Bids.Count > 0)
                        {
                            <div class="row" style="width:100%; margin-top:10px; margin-left:10px">

                                <h4 style="display:inline; margin-left:10px">Last bidder: </h4>
                                <h4 style="display:inline; margin-right:0px"><b class="last_bidder">@item.last_bid_user.Name</b></h4>
                            </div>
                        }
                        else
                        {
                            <h4 class="be_first_one">Be the first one to bid!</h4>
                        }
                    }

                    @if (User.IsInRole("admin") && (item.state == iep_newer.Models.Auction.State.READY))
                {
                        <button class="btn btn-info interaction-button" onclick="openAuction(@item.id, this, @item.duration)">Open this auction!</button>
                    }
                </div>
            </div>
        }
    </div>

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                @for(int pagenum = 0; pagenum < ViewBag.pages; pagenum ++)
                {
                    <li>
                        @{
                        Object args = new { search_self = ViewBag.search_self, search_terms = ViewBag.search_terms, search_state = ViewBag.search_state, min_price = ViewBag.min_price, max_price = ViewBag.max_price, page = pagenum };
                        @Html.ActionLink(Convert.ToString(pagenum+1), "Index", args);
                    }
                    </li>
                }
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
    <script src="/Scripts/moment.min.js" ></script>
    <script type="text/javascript">

        $.fn.exists = function () {
            return this.length !== 0;
        }

        $(function () {
            $(".time-text").each(function () {

                var that = this;

                var timer = setInterval(function () {

                    var timeToSet = formatTime(getDuration(that.innerHTML) - 1);

                    $(that).html(timeToSet);
                    if (timeToSet == "00:00:00") {

                        clearInterval(timer);

                        var correct_button = $(that).parent().find(".bid-button")

                        correct_button.removeClass('btn-danger').removeClass('btn-success').addClass('btn-info');

                        if (!correct_button.parent().find(".last_bidder").exists()) {
                            correct_button.html("Expired");
                            correct_button.parent().find(".be_first_one").hide();
                        }
                        else {
                            correct_button.html("Sold!");
                        }

                    }
                }, 1000)

            })
        });



        function formatTime(duration) {
            var hours = parseInt(duration / 3600),
            remainder = duration % 3600,
            minutes = parseInt(remainder / 60),
            seconds = remainder % 60;

            var hoursStr = hours + "";
            if (hours < 10) hoursStr = "0" + hoursStr;
            var minutesStr = minutes + "";
            if (minutes < 10) minutesStr = "0" + minutesStr;
            var secondsStr = seconds + "";
            if (seconds < 10) secondsStr = "0" + secondsStr;


            return (hoursStr + ":"
                    + minutesStr + ":"
                    + secondsStr);
        }

        function getDuration(time) {
            var arr = time.split(":");

            var seconds = (+arr[0]) * 60 * 60 + (+arr[1]) * 60 + (+arr[2]);

            return seconds;
        }


        function openAuction(auction_id, button, duration) {
            $.ajax({
                url: "@Url.Action("Open", "Auction")?id=" + auction_id,
                success: function (result) {
                    console.log("finished ajax request! auction open");
                    $(button).hide();
                    console.log($(button))
                    console.log($(button).parent())
                    console.log($(button).parent().parent())

                    $(button).parent().find(".not-open-text").hide();
                    $(button).parent().find(".not-time-text").hide();

                    //$(button).parent().append(
                    //    $('<div class="row" style="margin:auto; width:100%">' +
                    //        '<h2 style="display:block; margin:auto; text-align:center;" class="time-text">' + formatTime(duration) + '</h2>' +
                    //    '</div>')
                    //    );


                    $('<div class="row" style="margin:auto; width:100%">' +
                        '<h2 style="display:block; margin:auto; text-align:center;" class="time-text">' + formatTime(duration) + '</h2>' +
                    '</div>').insertBefore($(button).parent().find(".price-row"));

                    $(button).parent().find(".time-text").each(function () {

                        var that = this;

                        var timer = setInterval(function () {

                            var timeToSet = formatTime(getDuration(that.innerHTML) - 1);

                            $(that).html(timeToSet);
                            if (timeToSet == "00:00:00") {

                                clearInterval(timer);

                                var correct_button = $(button).parent().find(".bid-button");

                                correct_button.removeClass('btn-danger').removeClass('btn-success').addClass('btn-info');

                                console.log($(button).parent().find(".last_bidder"));
                                console.log($(button).parent().find(".last_bidder").exists());

                                if (!$(button).parent().find(".last_bidder").exists()) {
                                    correct_button.html("Expired");
                                    correct_button.parent().find(".be_first_one").hide();
                                }
                                else {
                                    correct_button.html("Sold!");
                                }

                            }
                        }, 1000)

                    });


                    $('<button class="btn btn-danger interaction-button bid-button" disabled="disabled" onclick="bidAuction(' + auction_id + ', this)">Bid!</button>'
                        ).insertBefore($(button).parent().find(".price-row"));


                    $(button).parent().append(
                        '<h4 class="be_first_one">Be the first one to bid!</h4>'
                    )

                },
                async: true
            });
        }

        var currentUserName = "@ViewBag.UserName";

        moment().format();

        var bidAuction;


        function refreshTime(portfolio_item) {
            var time = portfolio_item.find(".time-text").html();

            if (getDuration(time) < 10) {
                portfolio_item.find(".time-text").html(formatTime(10));
            }
        }

        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message) {

                if ($("#auction-" + message).find(".last_bidder").exists()) {
                    $("#auction-" + message).find(".last_bidder").html(name);
                }
                else {
                    $("#auction-" + message).find(".be_first_one").hide();
                    $("#auction-" + message).find(".portfolio-inside").append('<div class="row" style="width:100%; margin-top:10px; margin-left:10px">' +

                                '<h4 style="display:inline; margin-left:10px">Last bidder: </h4>' +
                                '<h4 style="display:inline; margin-right:0px"><b class="last_bidder">' + name + '</h4></b>' +
                            '</div>');
                }

                console.log($("#auction-" + message).find(".current_price"));
                console.log($("#auction-" + message).find(".current_price").html());

                var current_price = parseInt($("#auction-" + message).find(".current_price").html());
                $("#auction-" + message).find(".current_price").html(current_price + 1);

                refreshTime($("#auction-" + message));


                //// Html encode display name and message.
                //var encodedName = $('<div />').text(name).html();
                //var encodedMsg = $('<div />').text(message).html();
                //// Add the message to the page.
                //$('#discussion').append('<li><strong>' + encodedName
                //    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            };
            // Get the user name and store it to prepend to messages.
            //$('#displayname').val(prompt('Enter your name:', ''));
            //// Set initial focus to message input box.
            //$('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {




                //$('#sendmessage').click(function () {
                //    // Call the Send method on the hub.
                //    chat.server.send($('#displayname').val(), $('#message').val());
                //    // Clear text box and reset focus for next comment.
                //    $('#message').val('').focus();
                //});
            });

            bidAuction = function (auction_id, button) {
                $.ajax({
                    url: "@Url.Action("Bid", "Auction")?id=" + auction_id,
                    success: function (result) {
                        //TODO: this is a quick fix solution
                        var d = new Date();
                        d.setDate(d.getDate() - 1);
                        if (new Date(result) < d) {
                            return;
                        }
                        console.log("finished ajax request! bid");
                        console.log(result);
                        //$(button).parent().find(".last_bidder").html(currentUserName);
                        //var current_price = parseInt($(button).parent().find(".current_price").html());
                        //$(button).parent().find(".current_price").html(current_price + 1);

                        var tokens = parseInt($(".token_count").html());
                        $(".token_count").html(tokens - 1);

                        chat.server.send(currentUserName, auction_id);
                    }
                });
            }

        });

        $(function () {

            if ("@ViewBag.search_terms" != "") {
                $("#search_terms").val("@ViewBag.search_terms");
            }
            if ("@ViewBag.min_price" != "") {
                $("#min_price").val("@ViewBag.min_price");
            }
            if ("@ViewBag.max_price" != "") {
                $("#max_price").val("@ViewBag.max_price");
            }
            if ("@ViewBag.search_state" != "") {
                //$("#search_state select").val("@ViewBag.search_state");
                $('#search_state option[value=' + '@ViewBag.search_state' + ']').attr('selected', 'selected');
            }
        });

    </script>
</div>