@model iep_newer.Models.Auction

@{
    ViewBag.Title = "Create";
}

<h2>Create an auction</h2>

<div class="row">
    @using (Html.BeginForm("Create", "Auction", FormMethod.Post, new { @class = "form-horizontal reg-form col-md-offset-2 col-md-6", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @*<div class="form-horizontal">*@
        <h4>Auction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-4">
                Name:
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.duration, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-4">
                    Duration(seconds):
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.duration, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.starting_price, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-4">
                    Starting price(tokens):
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.starting_price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.starting_price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.image_file, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-4">
                    Image:
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.image_file, new { type = "file", @required = true })
                    @Html.ValidationMessageFor(model => model.image_file, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
            @*</div>*@
    }
</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
